body{
  margin: 0;
  
}

header {
  background-size: cover;
  height:auto;

}


.nav-enlace{
  color: #000000;
  padding: 10px 100px;
  display:inline-block;
  text-decoration: none;
  align-items: center;
  margin: 20px;px ;
  margin-left: 10px;
  font-size: 32px;
}

.nav-enlace:hover{
  background-color: #f9d9d9;
    
}

.texto1{
  font-size:30px;
  margin: 20px;
  margin-left: 350px;
  width: 1000px;
  height: 200px;
}

.Cabañatitulo{
  font-size:30px;
  margin: 10px;
  margin-left: 100px;
  
}
.Cabañatitulo2{
  font-size:30px;
  margin: 10px;
  margin-left: 100px;
  
}
.Exteriores{
  font-size:30px;
  margin: 10px;
  margin-left: 100px;
  
  
}

.fondoform{
position: absolute;
width: 1000px;
height: 527px;
left: -1px;
top: 1680px;

background: url(IMG\fondoform.png);
margin-bottom: 20px;
}

#nombre{
  position: absolute;
  width: 104px;
  height: 32px;
  left: 700px;
  top: 1400px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #A29A8A;
  
  border: 1px solid #A29A8A;
  
  
  /* Rectangle 7 */
  
  
  position: absolute;
  width: 410px;
  height: 34px;
  left: 888px;
  top: 1817px;
  
  background: #D9D9D9;
  

}

#email {
  position: absolute;
  width: 69px;
  height: 32px;
  left: 888px;
  top: 1872px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #A29A8A;
  
  border: 1px solid #A29A8A;
  
  
  /* Rectangle 8 */
  
  
  position: absolute;
  width: 410px;
  height: 33px;
  left: 888px;
  top: 1902px;
  
  background: #D9D9D9;
}

#telefono {
  position: absolute;
  width: 112px;
  height: 32px;
  left: 888px;
  top: 1955px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #A29A8A;
  
  border: 1px solid #A29A8A;
  
  
  /* Rectangle 9 */
  
  
  position: absolute;
  width: 410px;
  height: 30px;
  left: 888px;
  top: 1987px;
  
  background: #D9D9D9;
   
}

#btnEnviar{
  position: absolute;
width: 50px;
height: 47px;
left: 1026px;
top: px;

background: #D9D9D9;


/* Enviar */


position: absolute;
width: 129px;
height: 47px;
left: 1026px;
top: 1725px;

font-family: 'Tempus Sans ITC';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;
text-align: center;
color: #000000;

}

.texto2 {
  position: absolute;
width: 746px;
height: 170px;
left: 54px;
top: 1800px;

font-family: 'Tempus Sans ITC';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;
text-align: center;

color: #825F5F;


}

myfrom{
  display: inline-block;
}

.mapa{
  overflow-anchor: relative;
  position: relative;
  width: 1450px;
  height: 375px;
  padding-top: 40px;
}

footer{
position: absolute;
width: 1450px;
height: 375px;
left: -1px;
top: 2582px;
background: rgba(137, 127, 107, 0.79);
transform: matrix(1, 0, 0, 1, 0, 0);

}
.emailcuenta{
  box-sizing: border-box;

position: absolute;
width: 271px;
height: 41px;
left: 1082px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 19px;
text-decoration-line: underline;
color: #000000;

}
.Politica{

  position: absolute;
  width: 293px;
  height: 46.6px;
  left: 726px;
  top: 100px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #000000;
  
  
}
.Site{
  position: absolute;
width: 224px;
height: 36.01px;
left: 726px;
top: 130px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.Aviso{
  position: absolute;
width: 293px;
height: 46.6px;
left: 726px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;



}