header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
}



textoFormulario {
position: absolute;
width: 746px;
height: 170px;
left: 54px;
top: 1858px;

font-family: 'Tempus Sans ITC';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;
text-align: center;

color: #825F5F;

border: 1px solid #825F5F;

}



footer{
position: absolute;
width: 1450px;
height: 375px;
left: -1px;
top: 2582px;

transform: matrix(1, 0, 0, 1, 0, 0);

}